*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(#00000077, rgba(0, 0, 0, 0.5)), url('images/beautiful-flower-nature.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}



.nav-bar ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo{
    position: absolute;
    width: 35px;
    left: 30px;
    top: 20px;
    z-index: 10;
}


.nav-bar a{
    position: relative;
    text-decoration: none;
    font-size: 15px ;
    color: white;
    
}


.nav-bar a::after{
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: white;
    content: " ";
    transition: width 300ms ease;

}
.nav-bar a:hover::after{
      width: 100%;

    }



.nav-bar li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    margin-top: 30px;
    
}

.main-title{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title{
    display: block;
    font-weight: 500;
    font-size: 100px;
    margin-top: 135px;
    text-align: justify;
    line-height: 80px;
    letter-spacing: -2px;
    color: white;

}

.subtitle{
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.7;
        color: white;

}



.button-before{
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    position: absolute;
    width: fit-content;
    border: solid 0.5px rgb(162, 156, 156);
    border-radius: 30px;
    top: 550px;
    padding: 15px 50px 15px 50px;
    color: white;
    background: rgba(237, 237, 237, 0.35);
    backdrop-filter: blur(10);
    box-shadow: 0 8px 32px 0 rgba(171, 171, 171, 0.37);
    cursor: pointer;
    transition: transform 0.3s ease; 


}

.button:hover{
    background: rgba(237, 237, 237, 0.5);
    box-shadow: 0 8px 32px 0 rgba(171, 171, 171, 0.5);
    transform: scale(1.1);
    transition: 0.3s;
}






.heart{
    position: absolute;
    width: 75px;
    height:73px;
    background-color: red;
    top: 224px;
    right: 717px;
    border-radius: 20px;
    background: linear-gradient(135deg,rgb(236, 236, 236) 0%, rgb(165, 165, 190) 35%, rgb(48, 67, 133) 100%);
    backdrop-filter: blur(100);
     box-shadow: 0 8px 32px 0 rgba(122, 155, 227, 0.37);
    border: solid 0.1px rgb(156, 156, 162);
    cursor: pointer;
    transition: transform 0.7s ease; 



}

.heart:hover{
    background: rgba(237, 237, 237, 0.5);
    box-shadow: 0 8px 32px 0 rgba(171, 171, 171, 0.5);
    transform: scale(1.1);
    transition: background-color 3s ease;
}

.heart-image{
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 83px;
    margin-left: -6px;
    margin-top: -6px;

}

.hands{
    margin-left: 135px;
}

.download{
    position: absolute;
    width: 100px;
    height: 35px;
    background: rgba(180, 176, 232, 0.35);
    opacity: 0.8;
    backdrop-filter: blur(10);
    box-shadow: 0 8px 12px 0 rgba(171, 171, 171, 0.3);
    margin-left: 70px;
    margin-top: 93px; 
    border-radius: 30px;
    color: white;   
    font-size: 14px;
    text-align: center;
    transition: transform 0.3s ease; 

}

.download:hover{
    background: rgb(242, 242, 242);
    opacity: 1;
    color: black;
    box-shadow: 0 8px 32px 0 rgba(171, 171, 171, 0.5);
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}


.download-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.claim{
    z-index: 10;
    position: relative;
    width: 240px;
    height: 140px;
    bottom: 30px; 
    left: 563px;   
    border-radius: 30px;
    backdrop-filter: blur(5);
    box-shadow: 0 8px 32px 0 rgba(171, 171, 171, 0.37);
    color: white;

}

.claim-text{
    position: absolute;
    text-align: center;
    left: 29px;
    top: 46px;
    font-weight: 600;
}

.button-menu1{
    top: 24px;
    right: 50px;
    position: absolute;
    width: 42px;
    height: 40px;
    border-radius: 12px;
    background-color: none;
    border: solid 1.3px white;
    transition: transform 0.3s ease;
}

.button-menu1:hover{
      background: transparent;
    box-shadow: 0 8px 32px 0 rgba(171, 171, 171, 0.5);
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;

}


.button-profile{
    top: 24px;
    right: 50px;
    position: absolute;
    width: 42px;
    height: 40px;
    border-radius: 12px;
    background-color: white;
    right: 105px;
    transition: transform 0.3s ease;

}
.button-profile:hover{
     background: white;
    box-shadow: 0 8px 32px 0 rgba(171, 171, 171, 0.5);
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;

}
.menu-icon{
    width: 18px;
    display: block;
    margin-top: 15px;
    margin-left: 11px;
}

.profile-icon{
    width: 18px;
    display: block;
    margin-top: 10px;
    margin-left: 12px;
}
